body {
    margin: 0px;
    background-image: url('fox.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
  }

  div{
    color:silver;
    font-size: 90px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

h1{
    color: white;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2{
    font-size: 50px;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    font-size: 30px;
    text-align: center;   
}

section{
    
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
 
.liste> li{
    list-style: none;
    color: white;
    font-size: 25px;
    text-align: center;
}

.om_meg_selv{
    color: silver;
    font-family: 'Courier New', Courier, monospace;
}

.første{
    color: silver;
    font-family: 'Courier New', Courier, monospace;
}

.andre{
    color:silver;
    font-family: 'Courier New', Courier, monospace;
}
.Tre{
    color: silver;
    font-family: 'Courier New', Courier, monospace;    
}

.femte{
    color: silver;
    font-family: 'Courier New', Courier, monospace; 
}

.skjete{
    color: silver;
    font-family: 'Courier New', Courier, monospace; 
}

.my_hover{
    display: flex;
    color: silver;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center; 
}

.one,.uno{
    display: flex;
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

.two,.dos{
    display: flex;
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

.my_web{
    display: flex;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    justify-content: center; 
}

.tre,.tres{
    display: flex;
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    }

    .four,.fire{
        display: flex;
        color: white;
        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        justify-content: center;
    }

    .fem,.fifth{
        display: flex;
        color: white;
        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        justify-content: center;
    }

    .six,.Sixth{
        display: flex;
        color: white;
        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        justify-content: center;
    }

    .footer{
        color: white;
        white-space: pre;
        font-size: 25px;
    }

    /*responsive opp til desktop*/
    @media(min-height: 1025px){

    }

    /*responsive opp til tablet*/
    @media(min-height: 770px){

    }

    /*responsive opp til mobil*/
    @media(min-height: 340px){

    }